<!DOCTYPE html>
<html lang="es">
<head>
	<title>Prueba Vue</title>
	<meta charset="utf-8">
	https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css
	

</head>
<body>
	<div id="app">
		<h1>{{titulo}}</h1>

		<input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
		<button @click="agregarFruta">Agregar</button>
		<ul>
			<li v-for="fruta of frutas">
				<input type="number" v-model.number="fruta.cantidad">
				 {{fruta.nombre}}
				 <button @click="fruta.cantidad++">+</button>
			<span v-if="fruta.cantidad === 0"> -Sin Stock</span>
			</li>
		</ul>
		<h4>TOTAL: {{sumarFrutas}}</h4>
	</div>
</body>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script type="text/javascript" src="vue.js"></script>

</html>